.repo_view {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: minmax(450px, 1300px);
  grid-template-rows: 2rem auto auto;
  justify-content: center;
  align-content: center;
  padding: 0 3rem;
}
.repo_view > * {
  margin-bottom: 0.6rem;
}

.repo_view__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.repo_view__header__star_button {
  background: url('../../resources/images/button.png') no-repeat;
  background-size: 100% 100%;
  background-color: #9FC48F;
  padding: 0.1rem 1rem;

  min-width: 110px;
}

.repo_view__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.6rem;
}
.repo_view__description > :first-child {
  margin-bottom: 1.5rem;
}
.repo_view__description__top {
  display: flex;
}
.repo_view__description__bottom {
  display: flex;
  flex-wrap: wrap;
}
.repo_view__description__bottom > *{
  margin-right: 1rem;
}

.repo_view__hours {
  padding: 0.6rem;
}
.repo_view__hours > :first-child {
  margin-bottom: 1rem;
}
.repo_view__hours_graph {
  display: flex;
}