.stars_count {
  display: flex;
  align-items: center;
}
.star_count_image {
  background-image: url('/resources/images/star-filled.png');
  background-size: 100% 100%;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.3rem;
}