@font-face {
  font-family: 'Balsamiq';
  src: url('resources/fonts/balsamiq/BalsamiqSansRegular.woff2');
}

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  --font-family: 'Balsamiq', "Comic Sans MS", cursive, sans-serif;
  --font-size: 1.35rem;
  --font-color: initial;
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
}

.search_results__container {
  height: 100%;
  width: 100%;
}

#root > .search_bar {
  margin: 1rem 0;
}


a {
  color: var(--font-color);
  text-decoration: none;
}
.text-url:visited {
  color: #670d94;
}
.text-url {
  color: #0C5394;
}

button {
  border: 0;
  padding: 0;
  background: transparent;

  color: var(--font-color);
  font-size: var(--font-size);
  font-family: var(--font-family);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}