.search_results_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_results_item_panel {
  min-width: 300px;
  width: 90vw;
  max-width: 1150px;
  height: calc(100% - 1rem);

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}

.search_results_item_panel__background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.search_results_item_panel__header {
  margin: 0.5rem;
  display: grid;
  align-items: flex-start;
  grid-template-columns: 35% 60% 5%;
  grid-template-rows: 1fr;
}

.search_results_item_panel__header__name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.search_results_item_panel__header__description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media (max-width: 600px) {
  .search_results_item_panel__header {
    grid-template-columns: 90% 0% 10%;
  }
  .search_results_item_panel__header__description {
    display: none;
  }
}

.search_results_item_panel__body {
  margin: 0.5rem;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.search_results_item_panel__body > * {
  margin-right: 1rem;
}
