.search_results_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_results_item_panel {
  min-width: 650px;
  width: 90vw;
  max-width: 1150px;
  height: calc(100% - 1rem);

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}

.search_results_item_panel__background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.search_results_item_panel__header {
  margin: 0.5rem;
  display: flex;
  align-items: flex-start;
}

.search_results_item_panel__header__description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.stared_status_image {
  height: 2rem;
  margin-left: auto;
}

.stars_count {
  display: flex;
  align-items: center;
}
.star_count_image {
  height: 1.5rem;
  margin-right: 0.3rem;
}

.fork_count {
  display: flex;
  align-items: flex-end;
}
.fork_count_image {
  height: 1.6rem;
  margin-bottom: 0.1rem;
}

.contirbutor_count {
  display: flex;
  align-items: flex-end;
}
.contirbutor_count_image {
  height: 1.4rem;
  margin: 0 0.3rem 0.2rem 0;
}
.contirbutor_count__spinner {
  align-self: center;
  height: 1.4rem;
  margin-left: 0.3rem;
}

.issue_count {
  display: flex;
  align-items: flex-end;
}
.issue_count_image {
  height: 1.7rem;
}

.search_results_item_panel__body {
  margin: 0.5rem;
  display: flex;
  align-items: flex-end;
}
.search_results_item_panel__body > * {
  margin-right: 1rem;
}